######################################################
#                   SPECIALS 17.5                    #
######################################################
templates:
  Special:
    smart_label: random
    sync_mode: sync
    sort_title: zz-<<collection_name>>

  Special Smart:
    sync_mode: sync
    sort_title: zz-<<collection_name>>
    visible_library: false

  Special Other:
    smart_label: random
    sync_mode: sync
    sort_title: zz-<<collection_name>>
    visible_library: true

collections:
  1001+ Movies You Must See Before You Die:
    template: { name: Special Other }
    summary: 1001+ of the best movies you need to see before you die.
    visible_shared:
      - monthly(4)
      - monthly(6)
    file_poster: config/posters/1001+ Movies You Must See Before You Die.png
    trakt_list:
      - https://trakt.tv/users/captainnapalm/lists/1001-greatest-movies-of-all-time?sort=rank,asc
      - https://trakt.tv/users/athwilson/lists/1001-movies?sort=released,desc

  2160P:
    template: { name: Special }
    summary: A collection of movies in 4K.
    file_poster: config/posters/2160P.png
    plex_search:
      all:
        resolution: 4K

  DV/HDR: # 1080p or 4K movies with HDR and or Dolby Vision
    template: { name: Special }
    summary: A collection of movies in HDR10+ and Dolby Vision.
    file_poster: config/posters/DV-HDR.png
    plex_search:
      all:
        hdr: true

  Family Friendly: # Better suited movies for family watching
    template: { name: Special Other }
    summary: Family Friendly recognizes outstanding entertainment with an official seal for quality and impact. Age Approved Selections include age-appropriate media with the potential to spark family conversations.
    visible_shared: monthly(25)
    file_poster: config/posters/Family Friendly.png
    trakt_list: https://trakt.tv/users/plexmetamanager/lists/common-sense-selection-movies?sort=rank,asc

  Longest: # Longest movies on plex
    template: { name: Special Smart }
    file_poster: config/posters/Longest.png
    summary: The longest movies on Plex  a minimum of 150 minutes in duration.
    smart_filter:
      sort_by: duration.desc
      validate: false
      all:
        duration.gt: 149

  Newly Released: # Released within the month
    template: { name: Special Other }
    file_poster: config/posters/Newly Released.png
    summary: Movies recently released in the past month.
    smart_filter:
      sort_by: release.desc
      validate: false
      all:
        release: 30

  No Swedish Subtitles:
    sync_mode: sync
    sort_title: zzzzzzzzzzz_No Swedish Subtitles
    file_poster: config/posters/No Swedish Subtitles.png
    summary: Movies yet to recieve swedish subtitles.
    smart_filter:
      sort_by: added.desc
      all:
        subtitle_language.not: sv

  Played: # Fetched information from Tautulli
    template: { name: Special Smart }
    tautulli_popular:
      list_days: 31
      list_size: 200
      list_buffer: 20
      list_minimum: 1
    file_poster: config/posters/Played.png
    summary: Most played movies on Plex the past month.
    smart_label: viewed.desc

  Random: # Random movies with a rating above 4 from IMDb
    template: { name: Special Other }
    file_poster: config/posters/Random.png
    summary: Random movies.
    visible_shared: monthly(5)
    smart_filter:
      sort_by: random
      validate: false
      limit: 300
      all:
        audience_rating.gte: 4.0

  Shortest: # Shortest movies on plex
    template: { name: Special Smart }
    visible_library: true
    summary: The shortest movies on Plex with a max duration of 85 minutes and under.
    file_poster: config/posters/Shortest.png
    smart_filter:
      sort_by: duration.asc
      validate: false
      all:
        duration.lt: 85
        genre.not: Animation

  Watched: # Fetched information from Tautulli
    template: { name: Special Smart }
    tautulli_watched:
      list_days: 9999
      list_size: 9999
      list_buffer: 20
      list_minimum: 1
    file_poster: config/posters/Watched.png
    summary: Movies watched on Plex by all users.
    smart_label: viewed.desc

  Worst: # Movies with a rating of less than 4 from IMDb
    template: { name: Special Smart }
    summary: Worst movies on Plex rated 4.0 or lower.
    file_poster: config/posters/Worst.png
    smart_filter:
      sort_by: audience_rating.asc
      validate: false
      all:
        audience_rating.lte: 4.0
