######################################################
#                   SPECIALS 19.0                    #
######################################################
templates:
  Special:
    smart_label: random
    sync_mode: sync
    sort_title: zz-<<collection_name>>
    visible_library: false

  Special Smart:
    sync_mode: sync
    sort_title: zz-<<collection_name>>
    visible_library: false

collections:
  1001+ Movies You Must See Before You Die:
    template: { name: Special }
    visible_library: weekly(tuesday|friday)
    summary: 1001+ of the best movies you need to see before you die.
    visible_shared:
      - monthly(4)
      - monthly(6)
    file_poster: config/posters/1001+ Movies You Must See Before You Die.png
    trakt_list:
      - https://trakt.tv/users/captainnapalm/lists/1001-greatest-movies-of-all-time?sort=rank,asc
      - https://trakt.tv/users/athwilson/lists/1001-movies?sort=released,desc

  2160P:
    template: { name: Special }
    visible_library: weekly(monday|wednesday)
    summary: A collection of movies in 4K.
    file_poster: config/posters/2160P.png
    plex_search:
      all:
        resolution: 4K

  DV/HDR: # 1080p or 4K movies with HDR and or Dolby Vision
    template: { name: Special }
    visible_library: weekly(tuesday|thursday)
    summary: A collection of movies in HDR10+ and Dolby Vision.
    file_poster: config/posters/DV-HDR.png
    plex_search:
      all:
        hdr: true

  Family Friendly: # Better suited movies for family watching
    template: { name: Special }
    visible_library: weekly(wednesday|sunday)
    summary: Family Friendly recognizes outstanding entertainment with an official seal for quality and impact. Age Approved Selections include age-appropriate media with the potential to spark family conversations.
    visible_shared: monthly(25)
    file_poster: config/posters/Family Friendly.png
    trakt_list: https://trakt.tv/users/k0meta/lists/common-sense-selection-movies

  Favored: # Fetched information from Tautulli
    template: { name: Special Smart }
    tautulli_popular:
      list_days: 31
      list_size: 20
      list_minimum: 1
    tautulli_watched:
      list_days: 31
      list_size: 20
      list_minimum: 1
    smart_label: viewed.desc
    file_poster: config/posters/Favored.png
    summary: The most favored Movies on Plex by users the past month.

  Longest: # Longest movies on plex
    template: { name: Special Smart }
    file_poster: config/posters/Longest.png
    summary: The longest movies on Plex  a minimum of 150 minutes in duration.
    smart_filter:
      sort_by: duration.desc
      validate: false
      all:
        duration.gt: 149

  Newly Released: # Released within the month
    template: { name: Special Smart }
    visible_library: weekly(monday|saturday)
    file_poster: config/posters/Newly Released.png
    summary: Movies recently released in the past month.
    radarr_add_missing: true
    radarr_add_existing: true
    radarr_monitor_existing: true
    trakt_list:
      - https://trakt.tv/users/guru27/lists/upcoming-movies-2050?sort=title,asc
      - https://trakt.tv/users/acoucalancha/lists/upcoming-anticipated-movies?sort=rank,asc
      - https://trakt.tv/users/morinphen/lists/upcoming-movies-all?sort=rank,asc
      - https://trakt.tv/users/ninjaguy05/lists/upcoming-movies?sort=added,asc
      - https://trakt.tv/users/irishstevo/lists/upcoming-movies?sort=rank,asc
      - https://trakt.tv/users/verycool/lists/upcoming-movies?sort=released,desc
      - https://trakt.tv/users/zappi87/lists/upcoming-movies?sort=released,asc
      - https://trakt.tv/users/abbelea/lists/movies-the-upcoming?sort=released,asc
      - https://trakt.tv/users/childofkorm/lists/upcoming-movies?sort=rank,asc
      - https://trakt.tv/users/dracid7/lists/upcoming-movies-digital-releases?sort=rank,asc

  No Swedish Subtitles:
    sync_mode: sync
    sort_title: zzzzzzzzzzz_No Swedish Subtitles
    file_poster: config/posters/No Swedish Subtitles.png
    summary: Movies yet to recieve swedish subtitles.
    smart_filter:
      sort_by: added.desc
      all:
        subtitle_language.not: sv

  Random: # Random movies with a rating above 4 from IMDb
    template: { name: Special Smart }
    visible_library: weekly(thursday|saturday)
    file_poster: config/posters/Random.png
    summary: Random movies.
    visible_shared: monthly(5)
    smart_filter:
      sort_by: random
      validate: false
      limit: 300
      all:
        audience_rating.gte: 4.0

  Shortest: # Shortest movies on plex
    template: { name: Special Smart }
    visible_library: weekly(friday|sunday)
    visible_shared: monthly(8)
    summary: The shortest movies on Plex with a max duration of 85 minutes and under.
    file_poster: config/posters/Shortest.png
    smart_filter:
      sort_by: duration.asc
      validate: false
      all:
        duration.lt: 85
        genre.not: Animation

  Watched: # Fetched information from Tautulli
    template: { name: Special Smart }
    tautulli_watched:
      list_days: 9999
      list_size: 9999
      list_minimum: 1
    file_poster: config/posters/Watched.png
    summary: Movies watched on Plex by all users.
    smart_label: viewed.desc

  Worst: # Movies with a rating of less than 4 from IMDb
    template: { name: Special Smart }
    summary: Worst movies on Plex rated 4.0 or lower.
    file_poster: config/posters/Worst.png
    smart_filter:
      sort_by: audience_rating.asc
      validate: false
      all:
        audience_rating.lte: 4.0
